# Proyek Analisis Data: Air Quality Dataset
- **Nama:** Firman Hasibuan
- **Email:** firmanhasibuan14042004@gmail.com
- **ID Dicoding:**

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [2]:
# df1 = pd.read_csv('/content/PRSA_Data_Aotizhongxin_20130301-20170228.csv')
# df2 = pd.read_csv('/content/PRSA_Data_Changping_20130301-20170228.csv')
# df3 = pd.read_csv('/content/PRSA_Data_Dingling_20130301-20170228.csv')
# df4 = pd.read_csv('/content/PRSA_Data_Dongsi_20130301-20170228.csv')
# df5 = pd.read_csv('/content/PRSA_Data_Guanyuan_20130301-20170228.csv')
# df6 = pd.read_csv('/content/PRSA_Data_Gucheng_20130301-20170228.csv')
# df7 = pd.read_csv('/content/PRSA_Data_Huairou_20130301-20170228.csv')
# df8 = pd.read_csv('/content/PRSA_Data_Nongzhanguan_20130301-20170228.csv')
# df9 = pd.read_csv('/content/PRSA_Data_Shunyi_20130301-20170228.csv')
# df10 = pd.read_csv('/content/PRSA_Data_Tiantan_20130301-20170228.csv')
# df11 = pd.read_csv('/content/PRSA_Data_Wanliu_20130301-20170228.csv')
# df12 = pd.read_csv('/content/PRSA_Data_Wanshouxigong_20130301-20170228.csv')

In [3]:
# df1 = df1[df1['year'] == 2017]
# df2 = df2[df2['year'] == 2017]
# df3 = df3[df3['year'] == 2017]
# df4 = df4[df4['year'] == 2017]
# df5 = df5[df5['year'] == 2017]
# df6 = df6[df6['year'] == 2017]
# df7 = df7[df7['year'] == 2017]
# df8 = df8[df8['year'] == 2017]
# df9 = df9[df9['year'] == 2017]
# df10 = df10[df10['year'] == 2017]
# df11 = df11[df11['year'] == 2017]
# df12 = df12[df12['year'] == 2017]

In [4]:
# df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
# df.to_csv('PRSA_ALL_DATA.csv', index=False)

In [7]:
df = pd.read_csv('data//PRSA_ALL_DATA.csv')
df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,33649,2017,1,1,0,485.0,496.0,8.0,121.0,6100.0,4.0,-4.7,1022.1,-6.1,0.0,ENE,1.0,Aotizhongxin
1,33650,2017,1,1,1,477.0,497.0,7.0,113.0,6300.0,4.0,-5.2,1022.3,-6.4,0.0,E,0.7,Aotizhongxin
2,33651,2017,1,1,2,454.0,469.0,7.0,111.0,6200.0,4.0,-5.4,1022.5,-6.5,0.0,ENE,1.1,Aotizhongxin
3,33652,2017,1,1,3,418.0,425.0,6.0,109.0,5900.0,3.0,-5.2,1022.5,-6.2,0.0,E,1.1,Aotizhongxin
4,33653,2017,1,1,4,438.0,468.0,10.0,123.0,7700.0,16.0,-5.0,1021.9,-5.8,0.0,ENE,1.0,Aotizhongxin

**Insight:**
- xxx
- xxx

## Assessing Data

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16992 entries, 0 to 16991
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       16992 non-null  int64
 1   year     16992 non-null  int64
 2   month    16992 non-null  int64
 3   day      16992 non-null  int64
 4   hour     16992 non-null  int64
 5   PM2.5    16728 non-null  float64
 6   PM10     16765 non-null  float64
 7   SO2      16747 non-null  float64
 8   NO2      16735 non-null  float64
 9   CO       16552 non-null  float64
 10  O3       16722 non-null  float64
 11  TEMP     16858 non-null  float64
 12  PRES     16864 non-null  float64
 13  DEWP     16858 non-null  float64
 14  RAIN     16863 non-null  float64
 15  wd       16559 non-null  object
 16  WSPM     16912 non-null  float64
 17  station  16992 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 2.3+ MB
None

### value counts

In [9]:
objects = [col for col in df.columns if df[col].nunique() <= 12]
for col in objects:
    print(f"====={col}=====")
    unique_values = df[col].unique()
    n_unique_values = df[col].nunique()

    print(f"Unique values in {col}: {unique_values}")
    print(f"Number of unique values in {col}: {n_unique_values}\n")

=====year=====
Unique values in year: [2017]
Number of unique values in year: 1

=====month=====
Unique values in month: [1 2]
Number of unique values in month: 2

=====station=====
Unique values in station: ['Aotizhongxin' 'Changping' 'Dingling' 'Dongsi' 'Guanyuan' 'Gucheng'
 'Huairou' 'Nongzhanguan' 'Shunyi' 'Tiantan' 'Wanliu' 'Wanshouxigong']
Number of unique values in station: 12

**Insight:**
- xxx
- xxx

### Cleaning Data

#### Check Missing Values

In [ ]:
df.isnull().sum()

In [9]:
def hmv(df, method, columns):
  if method == 'mean':
    fill_val = df[columns].mean()
  elif method == 'median':
    fill_val = df[columns].median()
  elif method == 'modus':
    fill_val = df[columns].mode().iloc[0]

  df[columns] = df[columns].fillna(fill_val)
  return df

In [10]:
numeric_columns = [col for col in df.select_dtypes(include=['float64', 'int64']).columns if df[col].isnull().any()]
categorical_columns = [col for col in df.select_dtypes(include=['object']).columns if df[col].isnull().any()]
df = hmv(df, 'median', numeric_columns)
df = hmv(df, 'modus', categorical_columns)

In [ ]:
df.isnull().sum()

## Duplicated Data

In [ ]:
print("Jumlah duplikasi: ", df.duplicated().sum())

In [13]:
df.to_csv('PRSA_DATA_CLEAN.csv', index=False)

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Histogram Plot

In [ ]:
columns = [col for col in df.columns if df[col].dtype in ['float64', 'int64'] and col not in ['No', 'year']]
fig, axes = plt.subplots(4, 4, figsize=(16, 8))
axes = axes.flatten()
for i, col in enumerate(columns):
  ax = sns.histplot(data=df, x=col, ax=axes[i], kde=True)

  ax.set_title(f'{col} Distribution')
  ax.set_xlabel(f'{col}')

for j in range(i+1, len(axes)):
  fig.delaxes(axes[j])

fig.suptitle('Distribution of Features per Dataset')
plt.tight_layout()
plt.show()

### Categorical Plot (Pie and Bar Plot)

In [ ]:
obj = [col for col in df.columns if df[col].nunique() <= 12 and col not in ['year']]

fig, axes = plt.subplots(len(obj), 2, figsize=(12, 3 * len(obj)))

for i, column in enumerate(obj):
  ax = axes[i, 0]
  ax.pie(
      df[column].value_counts(),
      shadow=True,
      explode=[0.1 for _ in range(df[column].nunique())],
      autopct='%1.f%%'
  )
  ax.set_aspect('equal')
  ax.set_title(f'{column} Pie Chart')

  ax1 = axes[i, 1]
  sns.countplot(y=column, ax=ax1, order=df[column].value_counts().index, data=df)
  ax1.set_xlabel('Count')
  ax1.set_ylabel(column)
  ax1.set_title(f'{column} Countplot')

fig.suptitle('Distribution of Categorical Features in Dataset\n\n\n')
plt.tight_layout()
plt.show()

In [ ]:
# import warnings
# warnings.simplefilter(action='ignore', category=FutureWarning)

columns = [col for col in df.columns if df[col].dtype in ['float64', 'int64'] and col not in ['No', 'year', 'month']]
fig, axes = plt.subplots(4, 4, figsize=(16, 8))
axes = axes.flatten()

for i, col in enumerate(columns):
  ax = sns.boxplot(y=col, data=df, ax=axes[i])
  ax.set_title(f'{col} Distribution')
  ax.set_xlabel(f'{col}')

for j in range(i+1, len(axes)):
  fig.delaxes(axes[j])

fig.suptitle('Distribution of Features per Dataset')
plt.tight_layout()
plt.show()

In [ ]:
columns = [col for col in df.columns if col not in ['No', 'year'] and df[col].dtype in ['int64', 'float64']]

corr = df[columns].corr()
plt.figure(figsize=(9, 9))
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
sns.heatmap(corr, mask=mask, annot=True)
plt.title('Dataset Correlation Matrix')
plt.show()

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2